/*----------Seccion video------------------*/

.seccion-video{
  display: inline-block;
 
  width: 100%;
  margin: 0;
  height: 280px;
}
.imgfondo{
  
  overflow: hidden;
  scroll-behavior: auto;
  overflow-y: auto;
  background-image: url(imagenfondo1.png) ;
  animation: movimiento 200s linear infinite alternate;
}
/*
 background-size: 200%;linear-gradient(
    to bottom right,
    rgb(1, 18, 255) 15%,
    rgb(0, 113, 179) 20%,
    rgb(2, 1, 73) 40%,
    rgb(0, 0, 0) 60%,
    rgb(109, 1, 82) 80%
  )*/
@keyframes movimiento {
  from{
    background-position: 0;
  }
  to{
    background-position: 100%;
  }
}
.seccion-video__h1{
  display: inline-block;
  margin: auto;
  color: #fff;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 10%;
  font-size: 5vw;
  text-align: center;
  position: static;
  text-shadow: 2px 2px 2px rgb(2, 34, 216); 
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.seccion-video__h2{
  display: inline-block;
  color: #fff;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 3%;
  padding-bottom: 2%;
  font-size: 5vw;
  text-align: center;
  position: static;
  text-shadow: 2px 2px 2px rgb(2, 34, 216); 
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}
.seccion-video__videobox{
  height: 100vh;
  width: 100vw;
  display: flex;
}
.seccion-video__container{
    margin: 0px auto 0;
    padding-left: 0;
    border: 2px solid rgb(255, 238, 0);
    height: 54vw;
    max-height: fit-content;
    width:95vw;
    max-width: 1000px;
    display: inline-block;
    position: relative;
    }
/* ;
*/
.seccion-video__video{
   width: 100%;
   height: 100%;

}
/*-----------------Seccion del cartel del medio--------------*/
.middle-label{
  display: inline-block;
  background-color: #000;
  width: 100%;
  padding: 0%;
  border-radius: 2%;
  filter: opacity(90%);
}
.middle-label__h1{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #fff;
  padding-left: 25%;
  padding-top:  3%;
  margin: auto;
  font-size: 5vw;
}
.middle-label__h2{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #fff;
  padding: 4%;
  margin: auto;
  font-size: 5vw;
}
/*------------------Seccion contador limitante---------------*/
.countDown-box{
  background-color: rgba(64, 16, 197, 0.589);
  display: block;

}
.countDown-box__countDown{
  display: inline-block;
  color: #fff;
  font-size: 15vw;
  padding-left: 25%;
}
/*---------------------Detalles------------------*/

.detalles{
  background-color: rgba(0, 0, 0, 0);
  padding: 2%;

}

/* ---------------------------imagen de producto-------------*/

.detalles-boximagen{
  padding: 3%;
  width: 90vw;
  height: 90vw;
  max-width: 630px;
  max-height: 630px;
  display: block;
  float: auto;
}
.detalles-boximagen__imagen{
  width: 100%;
  height: 100%;
}

/*----------------descripcion producto-----------------*/

.detalles-boxdescripcion{
  background-color: rgba(31, 28, 28, 0.74);
  display: block;
  width: 90vw;
  height: 80vw;
  max-width: 680px;
  max-height: 720px;
  float: auto;
  padding-bottom: 7%;
  border: 2px solid rgb(0, 118, 122);
}
.h4-descripcion{
  color: rgb(255, 251, 0);
  text-shadow: 2px;  
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 5vw;
  padding: 5%;
}
.detalles-boxdescripcion__descripcion{
  color: #fff;
  text-shadow: 2px 2px 2px rgb(2, 34, 216);  
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 5vw;
  padding-left: 5%;
  padding-right: 3%;
  padding-bottom: 3%;

}

/*--------------------seccion objetivos-----------------*/
 
.detalles-boxobjetivos{
  background-color: rgba(31, 28, 28, 0.74);
  border: 2px solid rgb(0, 118, 122);
  display: inline-block;
  width: 90vw;
  height: 235vw;
  max-width: 680px;
  max-height: 3400px;
  padding-bottom: 7%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.h4-objetivos{
  color: rgb(255, 251, 0);
  text-shadow: 2px;  
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 5vw;
  padding: 5%;  
}
.detalles-boxobjetivos__objetivos{
 
  margin: 2px;
  padding-bottom: 5px;
}
.detalles-boxobjetivos__objetivo{
  color: #fff;  
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 5vw;
  padding-bottom: 20px;
  padding-right: 15px;
  text-shadow: 2px 2px 2px rgb(2, 34, 216);
}


/*------------------------------FOMO------------------------------------*/

.FOMO{
  position: fixed;
  bottom:80px;
  left: 5px;
  background-color: rgba(63, 55, 110, 0.856);
  width: 70vw;
  height: 10vw;
  border-radius: 40px;
  max-width: 500px;
  max-height: 51px;
  display: none;
  padding-left: 3vw;
}
.FOMO-h6{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: clamp(4px, 3vw, 20px);
  color: #fff;
  text-shadow: #000 5px;
  margin-top: 10px;
  margin-left: 25px;
 
}
/*--------cupos------------------*/
.cupos{
  margin-top: 100px;
  display: block;
  background-color: rgba(59, 0, 87, 0.164);
  width: 85vw;
}
.cupos-h6{
  color: #fff;
  font-size: 6vw;
  padding: 2%;
  text-shadow: 2px 2px 2px rgb(2, 34, 216);
  
}
/*---------------------MODULOS Y CLASES---------------------*/

.detalles-boxmodulos{
  background-color: rgba(31, 28, 28, 0.74);
  border: 2px solid rgb(0, 118, 122);
  display: inline-block;
  width: 90vw;
  height: 475vw;
  max-width: 680px;
  max-height: 3600px;
  padding-bottom: 7%;
}
.h4-boxmodulos{
  color: rgb(255, 251, 0);
  text-shadow: 2px;  
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 5vw;
  padding: 2%;
}
.h6-modulos{
  color: #fff;
  text-shadow: 5px #000;  
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 5vw;
  padding-bottom: 20px;
  padding-right: 8px;
  padding-left: 15px;
  text-shadow: 2px 2px 2px rgb(2, 34, 216);
}
.detalles-boxmodulos__modulo{
  color: #fff;
  text-shadow: 2px 2px 2px rgb(2, 34, 216);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 5vw;
  padding-bottom: 20px;
  padding-right: 15px;
}
/*-----------------BOTON PARA INGRESAR Y GARANTIA------------------*/
.ingresar-garantia{
  margin-top: 100px;
  display: inline-block;
  margin-left: 5%;
}
.ingresar{
  display: block;
  width: 40vw;
  max-width: 720px;
  margin: left;
  float: left;
}
.ingresar-h4{
  font-size: 2vw;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-shadow: 2px 2px 2px rgb(2, 34, 216);
  padding: 3%;
  color: #fff;
  margin-left: 10%;
}
.ingresar-button{
  background-color: gold;
  height: 10vw;
  width: 35vw;
  margin-left: 6%;
}
.ingresar-button:hover{
  background-color: rgb(43, 255, 0);

}
.ingresar-button__enlace{
  color: #000;
  text-shadow: 2px 2px 2px rgb(252, 252, 252);
  font-size: 4vw;
  text-decoration: none;
}
.garantia{
  display: block;
  width: 35vw;
  max-width: 720px;
  float: right;
}
.garantia-h4{
  font-size: 3vw;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-shadow: 2px 2px 2px rgb(2, 34, 216);
  padding: 3%;
  color: #fff;
}
/*-------------DATOS Y REDES-----------------*/
.data-redes{
  margin-top: 10%;
}
.data{
  flex-wrap: nowrap;
  display: inline-block;
  width: 90vw;
  height: 175vw;
  max-width: 780px;
  max-height: 2500px;
  background-color: rgba(0, 0, 0, 0.493);
  border: 2px solid rgb(0, 214, 252);
  margin-top: 500px;
  margin-left: 3%;
  overflow-y: auto;

}
.data-h5{
  font-size: 5vw;
  color: #fff;
  text-shadow: 2px 2px 2px rgb(2, 34, 216);
  margin-left: 25%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.data-img__container{
  width: 200px;
  height: 200px;
  margin-left: 35%;
}
.data-img__imagen{

  width: 200px;
  height:200px;
  margin:center;
  border: 2px solid rgb(252, 235, 0);
  border-radius: 100%;
}
.data-p{
  font-size: 5vw;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #fff;
  padding-left: 5%;
  padding-right: 5%;
  text-indent: 25px;
}
.redes-button{
  border-radius: 40px;
  width: 40vw;
  height: 20vw;
  display: block;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 3vw;
  color:#fff;
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
  margin-right: 5%;
}
.f{
  background-color: rgb(0, 33, 219);
  float: left;
  margin-left: 6%;
}
.i{
  background-color: rgb(247, 161, 3);
  float: right;
}
.t{
  background-color: rgb(1, 162, 236);
  float: right;
}
.l{
  background-color: rgb(19, 3, 161);
  float: left;
  margin-left: 6%;
}
.redes-enlace{
  text-decoration: none;
  color: #fff;
  
}
/*--------------------TESTIMONIOS-----------------------------*/
.testimonios{
  background-color: transparent;
}
.testimonio{
  background-color: rgba(0, 0, 0, 0.568);
  border-radius: 40px;
  width: 80vw;
  height: 45vw;
  margin-top: 5%;
  margin-left: 10%;
}
.testimonio-img{
  float: left;
  width: 13vw;
  height: 13vw;
  border-radius: 100%;
  margin-left: 15%;
  margin-top: 5%;
  margin-right: 4%;
  border:2px solid rgb(11, 4, 107);
}
.testimonio-nombre{
  margin-left: 3%;
  margin-bottom: 10%;
  padding-top: 3%;
  height: 1vw;
  font-size: 4vw;
  color: #fff;
  text-shadow: 2px 0px 2px 2px #000;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.testimonio-redes{
  margin-left: 3%;
  height: 1vw;
  font-size: 2vw;
  color: #fff;
  text-shadow: 2px 0px 2px 2px #000;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.testimonio-estrellas{
  width: 30vw;
  height: 6vw;
  padding-top: - 20px;
  margin-top: 4%;
}
.testimonio-texto{
  margin-left: 5%;
  font-size: 3vw;
  color: #fff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*-----------------------PREGUNTAS FRECUENTES--------------------------*/
.preguntas{
  display: inline-block;
  width: 100vw;
  background-color: rgb(252, 247, 0);
}
.preguntas-h5{
  margin-left: 25%;
  color: #000;
  font-size: 4vw;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.pregunta{
  display: inline-block;
  margin-left: 15%;
  width: 80vw;
  height: 40vw;

}
.pregunta-h6{
  font-size: 3vw;
  color: #000;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.respuesta-h6{
  font-size: 3vw;
  color: #000;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.wp{
  display: block;
  position: fixed;
  width: 30vw;
  height: 5vw;
  border-radius: 60px ;
  background-color: rgba(0, 0, 0, 0.575);
  bottom: 30px;
  right: 50px;
  padding-top: 2vw;
}
.wp-enlace{
  font-size: 2vw;
  margin-left: 2vw;
  text-decoration: none;
  color: #fff;
  text-shadow: 0px 2px 2px 0px #000;
  float: left;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.wp-img{
  width: 3vw;
  height: 3vw;
  margin-right: 30px;
  float: right;
}
/*------------------adaptacion pantalla completa---------------*/
@media screen and (min-width: 840px){
  .detalles-boximagen{
    margin-left: 20%;

  }
  .detalles-boxdescripcion{
    margin-left: 20%;
    max-height: 520px;

  }
  .h4-descripcion{
    font-size: 35px;
  }
  .detalles-boxdescripcion__descripcion{
    font-size: 35px;
  }
  .detalles-boxobjetivos{
    max-height: 1080px;
    max-width: 1080px;
    margin-top: 40px;
    margin-left: 3%;
    height: 200vw;
  }
  .h4-objetivos{
    font-size: 35px;
  }
  .detalles-boxobjetivos__objetivo{
    font-size: 35px;
  }
  .detalles-boxmodulos{
    max-height: 2800px;
    max-width: 1040px;
    margin-top: 40px;
  }
  .h4-boxmodulos{
    font-size: 35px;
  }
  .h6-modulos{
    font-size: 35px;
  }
  .detalles-boxmodulos__modulo{
    font-size: 35px;
  }
  .ingresar-garantia{
    display: inline-block;
    margin-left: 90px;
    margin-right: 10px;
  }
 .data{
    margin-top: 300px;
    width: 80vw;
    height: 80vw;
    margin-left: 20%;
 }
 .data-h5{
  font-size: 35px;
 }
 .data-p{
  font-size: 30px;
 }
}